<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="ru.otus.spring.hw01.dao.QuestionsDaoImpl">
        <constructor-arg name="questions" ref="questionsReader"/>
    </bean>

    <bean id="questionsReader" class="ru.otus.spring.hw01.services.QuestionsReaderImpl" />

    <bean id="questionsRandomizer" class="ru.otus.spring.hw01.services.QuestionsRandomizerImpl" />

    <bean id="userName" class="ru.otus.spring.hw01.services.UserNameImpl" />

    <bean id="quiz" class="ru.otus.spring.hw01.services.QuizImpl" />

</beans>